{% extends 'layouts/base/base.html' %}
{% block content %}
    <!-- About Start -->
    <div class="container-fluid about py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-xl-7 wow fadeInLeft" data-wow-delay="0.2s">
                    <div>
                        <h4 class="text-primary">Biz haqimizda</h4>
                        <h1 class="display-5 mb-4">{{ about.0.title }}</h1>
                        <p class="mb-4">
                            {{ about.0.description }}
                        </p>
                        <div class="row g-4">
                            <div class="col-sm-6">
                                <a href="tel://{{ site_information.0.phone }}"
                                   class="btn btn-primary rounded-pill py-3 px-5 flex-shrink-0">Hoziroq bog'lanish</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex">
                                    <i class="fas fa-phone-alt fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Telefon raqam</h4>
                                        <p class="mb-0 fs-5"
                                           style="letter-spacing: 1px;">{{ site_information.0.phone }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="bg-primary rounded position-relative overflow-hidden">
                        <img src="{{ about.0.image1.url }}" class="img-fluid rounded w-100" alt="">
                        <div class="rounded-bottom">
                            <img src="{{ about.0.image2.url }}" class="img-fluid rounded-bottom w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Features Start -->
    <div class="container-fluid feature pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Bizning qulayliklarimiz</h4>
                <h1 class="display-5 mb-4">Bizning Qulayliklarimiz - Sizning Farovonligingiz Uchun</h1>
                <p class="mb-0">
                    Bizning xizmatlarimiz sizning ehtiyojlaringizga mos kelishi uchun har tomonlama qulayliklar taqdim
                    etadi. Tez va ishonchli xizmat, individual yondashuv va mijozlarimiz uchun maxsus takliflar bilan
                    sizning hayotingizni osonlashtiramiz.
                </p>
            </div>
            <div class="row g-4">
                {% for feature in featured_service %}
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <img src="{{ feature.image.url }}" alt="404"
                                     style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
                            </div>
                            <h4>{{ feature.title }}</h4>
                            <p class="mb-4">
                                {{ feature.description }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Features End -->

    <!-- Team Start -->
    <div class="container-fluid team pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Bizning jamoa</h4>
                <h1 class="display-5 mb-4"> Bizning Jamoa | Sizning Ishonchli Hamkorlaringiz</h1>
                <p class="mb-0">
                    Bizning jamoamiz malakali va tajribali mutaxassislardan iborat bo'lib, har bir loyiha
                    uchun eng yaxshi yechimlarni taqdim etishga intiladi. Bizning maqsadimiz — mijozlarimizga yuqori
                    sifatli xizmat ko'rsatish va ishonchli hamkor bo'lishdir. Har bir a'zomiz o'z sohasida yetakchi
                    bo'lib, birgalikda muvaffaqiyatga erishamiz.
                </p>
            </div>
            <div class="row g-4">
                {% for team in teams %}
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            {% if not team.image %}
                                <div class="team-img">
                                    <img src="https://t4.ftcdn.net/jpg/08/08/37/31/360_F_808373133_lrCrFLLTXF0A2WQK7QKMCNAzKCjX7kvb.jpg"
                                         class="img-fluid" alt="">
                                </div>
                            {% else %}
                                <div class="team-img">
                                    <img src="{{ team.image.url }}" class="img-fluid" alt="">
                                </div>
                            {% endif %}
                            <div class="team-title">
                                <h4 class="mb-0">{{ team.last_name }} {{ team.first_name }}</h4>
                                <p class="mb-0">{{ team.profession }}</p>
                            </div>
                            <div class="team-icon">
                                <a class="btn btn-primary btn-sm-square rounded-circle me-3"
                                   href="{{ team.facebook_url }}" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-circle me-0"
                                   href="{{ team.instagram_url }}" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
{% endblock %}