{% extends "layouts/base/base.html" %}
{% load static %}
{% block content %}
    <!-- Blog Start -->
    <div class="container-fluid blog pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Bizning ishlarimiz</h4>
                <h1 class="display-5 mb-4">Bizning Ishlarimiz - Sifat va Ishonchlilik</h1>
                <p class="mb-0">
                    Bizning ishlarimiz sizning muammolaringizni hal qilish va maqsadlaringizga erishishda sizga yordam
                    beradi. Har bir loyiha uchun professionallik va sifatga e'tibor beramiz. Mijozlarimiz uchun yuqori
                    darajada xizmat ko'rsatamiz va natijalarimiz bilan faxrlanamiz.
                </p>
            </div>
            <div class="row">
                {% if not works %}
                    <div class="blog-item p-4 col-12 col-md-6 col-lg-4">
                        <div class="blog-img mb-4">
                            <img src="{% static 'img/service-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            <div class="blog-title">
                                <a href="#" class="btn">Jamoa</a>
                            </div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                        <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut aliquam
                            suscipit error corporis accusamus labore....</p>
                    </div>
                {% else %}
                    {% for work in works %}
                        <div class="blog-item p-4 col-12 col-md-6 col-lg-4" style="margin-right: 15px;">
                            <div class="blog-img mb-4">
                                <img src="{{ work.image.url }}" class="img-fluid w-100 rounded" alt="404image"
                                     style="width: 100%; height: 200px; object-fit: cover;">
                                <div class="blog-title">
                                    {% if work.who_did %}
                                        <a href="#"
                                           class="btn">{{ work.who_did.last_name }} {{ work.who_did.first_name }}</a>
                                    {% else %}
                                        <a href="#" class="btn">Jamoa</a>
                                    {% endif %}
                                </div>
                            </div>
                            <a href="#" class="h4 d-inline-block mb-3">{{ work.title }}</a>
                            <p class="mb-4">{{ work.description }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}