{% extends "layouts/base/base.html" %}
{% load static %}

{#blocks#}
{% block content %}
    <!-- About Start -->
    <div class="container-fluid about py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-xl-7 wow fadeInLeft" data-wow-delay="0.2s">
                    <div>
                        <h4 class="text-primary">Biz haqimizda</h4>
                        <h1 class="display-5 mb-4">{{ about.0.title }}</h1>
                        <p class="mb-4">
                            {{ about.0.description }}
                        </p>
                        <div class="row g-4">
                            <div class="col-sm-6">
                                <a href="tel://{{ site_information.0.phone }}"
                                   class="btn btn-primary rounded-pill py-3 px-5 flex-shrink-0">Hoziroq bog'lanish</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex">
                                    <i class="fas fa-phone-alt fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Telefon raqam</h4>
                                        <p class="mb-0 fs-5"
                                           style="letter-spacing: 1px;">{{ site_information.0.phone }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="bg-primary rounded position-relative overflow-hidden">
                        <img src="{{ about.0.image1.url }}" class="img-fluid rounded w-100" alt="">
                        <div class="rounded-bottom">
                            <img src="{{ about.0.image2.url }}" class="img-fluid rounded-bottom w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Services Start -->
    <div class="container-fluid service pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Bizning xizmatlar</h4>
                <h1 class="display-5 mb-4">Bizning Xizmatlarimiz - Sifatli Avtomobil va Gaz Balon O'rnatish
                    Xizmatlari</h1>
                <p class="mb-0">Bizning xizmatlarimiz avtomobilingizni mukammal holatda saqlash uchun mo'ljallangan.
                    Avtomobil ta'miri va xizmat ko'rsatishdan tashqari, biz gaz balonlarini o'rnatish bo'yicha
                    professional xizmatlarni ham taklif etamiz. Sizning xavfsizligingiz va qulayligingiz biz uchun
                    birinchi o'rinda!
                </p>
            </div>
            <div class="row g-4">
                {% for service in services %}
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="{{ service.image.url }}" class="img-fluid rounded-top w-100"
                                     alt="Image">
                            </div>
                            <div class="rounded-bottom p-4">
                                <a href="#" class="h4 d-inline-block mb-4">{{ service.title }}</a>
                                <p class="mb-4">
                                    {{ service.description }}
                                </p>
                                <button class="btn rounded-pill py-2 px-4 text-primary"
                                        disabled>Narxi: {{ service.price }} so'm
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Services End -->

    <!-- Features Start -->
    <div class="container-fluid feature pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Bizning qulayliklarimiz</h4>
                <h1 class="display-5 mb-4">Bizning Qulayliklarimiz - Sizning Farovonligingiz Uchun</h1>
                <p class="mb-0">
                    Bizning xizmatlarimiz sizning ehtiyojlaringizga mos kelishi uchun har tomonlama qulayliklar taqdim
                    etadi. Tez va ishonchli xizmat, individual yondashuv va mijozlarimiz uchun maxsus takliflar bilan
                    sizning hayotingizni osonlashtiramiz.
                </p>
            </div>
            <div class="row g-4">
                {% for feature in featured_service %}
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature-item p-4">
                            <div class="feature-icon p-4 mb-4">
                                <img src="{{ feature.image.url }}" alt="404"
                                     style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
                            </div>
                            <h4>{{ feature.title }}</h4>
                            <p class="mb-4">
                                {{ feature.description }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Features End -->

    <!-- Blog Start -->
    <div class="container-fluid blog pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Bizning ishlarimiz</h4>
                <h1 class="display-5 mb-4">Bizning Ishlarimiz - Sifat va Ishonchlilik</h1>
                <p class="mb-0">
                    Bizning ishlarimiz sizning muammolaringizni hal qilish va maqsadlaringizga erishishda sizga yordam
                    beradi. Har bir loyiha uchun professionallik va sifatga e'tibor beramiz. Mijozlarimiz uchun yuqori
                    darajada xizmat ko'rsatamiz va natijalarimiz bilan faxrlanamiz.
                </p>
            </div>
            <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.2s">
                {% if not works %}
                    <div class="blog-item p-4">
                        <div class="blog-img mb-4">
                            <img src="{% static 'img/service-1.jpg' %}" class="img-fluid w-100 rounded" alt="">
                            <div class="blog-title">
                                <a href="#" class="btn">Dividend Stocks</a>
                            </div>
                        </div>
                        <a href="#" class="h4 d-inline-block mb-3">Options Trading Business?</a>
                        <p class="mb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut
                            aliquam
                            suscipit error corporis accusamus labore....
                        </p>
                        <div class="d-flex align-items-center">
                            <img src="{% static 'img/testimonial-1.jpg' %}" class="img-fluid rounded-circle"
                                 style="width: 60px; height: 60px;" alt="">
                            <div class="ms-3">
                                <h5>Asad</h5>
                                <p class="mb-0">October 9, 2025</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% for work in works %}
                        <div class="blog-item p-4">
                            <div class="blog-img mb-4">
                                <img src="{{ work.image.url }}" class="img-fluid w-100 rounded"
                                     alt="404image" style="width: 100%; height: 200px; object-fit: cover;">
                                <div class="blog-title">
                                    {% if work.who_did %}
                                        <a href="#"
                                           class="btn">{{ work.who_did.last_name }} {{ work.who_did.first_name }}</a>
                                    {% else %}
                                        <a href="#" class="btn">Jamoa</a>
                                    {% endif %}
                                </div>
                            </div>
                            <a href="#" class="h4 d-inline-block mb-3">{{ work.title }}</a>
                            <p class="mb-4">
                                {{ work.description }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Blog End -->

    <!-- Team Start -->
    <div class="container-fluid team pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Bizning jamoa</h4>
                <h1 class="display-5 mb-4"> Bizning Jamoa | Sizning Ishonchli Hamkorlaringiz</h1>
                <p class="mb-0">
                    Bizning jamoamiz malakali va tajribali mutaxassislardan iborat bo'lib, har bir loyiha
                    uchun eng yaxshi yechimlarni taqdim etishga intiladi. Bizning maqsadimiz — mijozlarimizga yuqori
                    sifatli xizmat ko'rsatish va ishonchli hamkor bo'lishdir. Har bir a'zomiz o'z sohasida yetakchi
                    bo'lib, birgalikda muvaffaqiyatga erishamiz.
                </p>
            </div>
            <div class="row g-4">
                {% for team in teams %}
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{{ team.image.url }}" class="img-fluid" alt="">
                            </div>
                            <div class="team-title">
                                <h4 class="mb-0">{{ team.last_name }} {{ team.first_name }}</h4>
                                <p class="mb-0">{{ team.profession }}</p>
                            </div>
                            <div class="team-icon">
                                <a class="btn btn-primary btn-sm-square rounded-circle me-3"
                                   href="{{ team.facebook_url }}" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-circle me-0"
                                   href="{{ team.instagram_url }}" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Testimonial Start -->
    <div class="container-fluid testimonial pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Sharhlar</h4>
                <h1 class="display-5 mb-4">Mijozlarimiz mulohazalari</h1>
                <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis
                    cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt
                    sint dolorem autem obcaecati, ipsam mollitia hic.
                </p>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
                <div class="testimonial-item">
                    <div class="testimonial-quote-left">
                        <i class="fas fa-quote-left fa-2x"></i>
                    </div>
                    <div class="testimonial-img">
                        <img src="{% static 'img/testimonial-1.jpg' %}" class="img-fluid" alt="Image">
                    </div>
                    <div class="testimonial-text">
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis blanditiis
                            excepturi quisquam temporibus voluptatum reprehenderit culpa, quasi corrupti laborum
                            accusamus.
                        </p>
                    </div>
                    <div class="testimonial-title">
                        <div>
                            <h4 class="mb-0">Person Name</h4>
                            <p class="mb-0">Profession</p>
                        </div>
                        <div class="d-flex text-primary">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-quote-right">
                        <i class="fas fa-quote-right fa-2x"></i>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-quote-left">
                        <i class="fas fa-quote-left fa-2x"></i>
                    </div>
                    <div class="testimonial-img">
                        <img src="{% static 'img/testimonial-2.jpg' %}" class="img-fluid" alt="Image">
                    </div>
                    <div class="testimonial-text">
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis blanditiis
                            excepturi quisquam temporibus voluptatum reprehenderit culpa, quasi corrupti laborum
                            accusamus.
                        </p>
                    </div>
                    <div class="testimonial-title">
                        <div>
                            <h4 class="mb-0">Person Name</h4>
                            <p class="mb-0">Profession</p>
                        </div>
                        <div class="d-flex text-primary">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-quote-right">
                        <i class="fas fa-quote-right fa-2x"></i>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-quote-left">
                        <i class="fas fa-quote-left fa-2x"></i>
                    </div>
                    <div class="testimonial-img">
                        <img src="{% static 'img/testimonial-3.jpg' %}" class="img-fluid" alt="Image">
                    </div>
                    <div class="testimonial-text">
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis blanditiis
                            excepturi quisquam temporibus voluptatum reprehenderit culpa, quasi corrupti laborum
                            accusamus.
                        </p>
                    </div>
                    <div class="testimonial-title">
                        <div>
                            <h4 class="mb-0">Person Name</h4>
                            <p class="mb-0">Profession</p>
                        </div>
                        <div class="d-flex text-primary">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-quote-right">
                        <i class="fas fa-quote-right fa-2x"></i>
                    </div>
                </div>
                <div class="testimonial-item">
                    <div class="testimonial-quote-left">
                        <i class="fas fa-quote-left fa-2x"></i>
                    </div>
                    <div class="testimonial-img">
                        <img src="{% static 'img/testimonial-2.jpg' %}" class="img-fluid" alt="Image">
                    </div>
                    <div class="testimonial-text">
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis blanditiis
                            excepturi quisquam temporibus voluptatum reprehenderit culpa, quasi corrupti laborum
                            accusamus.
                        </p>
                    </div>
                    <div class="testimonial-title">
                        <div>
                            <h4 class="mb-0">Person Name</h4>
                            <p class="mb-0">Profession</p>
                        </div>
                        <div class="d-flex text-primary">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <div class="testimonial-quote-right">
                        <i class="fas fa-quote-right fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
{% endblock %}