{% extends "layouts/base/base.html" %}
{% block content %}
    <!-- Services Start -->
    <div class="container-fluid service pb-5 mt-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Bizning xizmatlar</h4>
                <h1 class="display-5 mb-4">Bizning Xizmatlarimiz - Sifatli Avtomobil va Gaz Balon O'rnatish
                    Xizmatlari</h1>
                <p class="mb-0">Bizning xizmatlarimiz avtomobilingizni mukammal holatda saqlash uchun mo'ljallangan.
                    Avtomobil ta'miri va xizmat ko'rsatishdan tashqari, biz gaz balonlarini o'rnatish bo'yicha
                    professional xizmatlarni ham taklif etamiz. Sizning xavfsizligingiz va qulayligingiz biz uchun
                    birinchi o'rinda!
                </p>
            </div>
            <div class="row g-4">
                {% for service in services %}
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="{{ service.image.url }}" class="img-fluid rounded-top w-100"
                                     alt="Image">
                            </div>
                            <div class="rounded-bottom p-4">
                                <a href="#" class="h4 d-inline-block mb-4">{{ service.title }}</a>
                                <p class="mb-4">
                                    {{ service.description }}
                                </p>
                                <button class="btn rounded-pill py-2 px-4 text-primary"
                                        disabled>Narxi: {{ service.price }} so'm
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Services End -->

    <!-- Testimonial Start -->
    <div class="container-fluid testimonial pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Sharhlar</h4>
                <h1 class="display-5 mb-4">Mijozlarimiz mulohazalari</h1>
                <p class="mb-0">
                    Bizning xizmatlarimizni baholash va tajribangizni baham ko'rish uchun sharhlar bo'limiga xush
                    kelibsiz. Har bir fikr biz uchun juda muhim va mijozlarimizga yanada yaxshi xizmat ko'rsatishimizga
                    yordam beradi. O'z tajribangizni yozing va boshqa foydalanuvchilarga yo'naltirishda yordam bering!
                </p>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
                {% for review in reviews %}
                    <div class="testimonial-item">
                        <div class="testimonial-quote-left">
                            <i class="fas fa-quote-left fa-2x"></i>
                        </div>
                        {% if not review.image %}
                            <div class="testimonial-img">
                                <img src="https://t4.ftcdn.net/jpg/08/08/37/31/360_F_808373133_lrCrFLLTXF0A2WQK7QKMCNAzKCjX7kvb.jpg"
                                     class="img-fluid" alt="Image">
                            </div>
                        {% else %}
                            <div class="testimonial-img">
                                <img src="{{ review.image.url }}" class="img-fluid" alt="Image">
                            </div>
                        {% endif %}
                        <div class="testimonial-text">
                            <p class="mb-0">
                                {{ review.description }}
                            </p>
                        </div>
                        <div class="testimonial-title">
                            <div>
                                <h4 class="mb-0">{{ review.last_name }} {{ review.first_name }}</h4>
                            </div>
                        </div>
                        <div class="testimonial-quote-right">
                            <i class="fas fa-quote-right fa-2x"></i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
{% endblock %}